Repository nix-community/autofirma-nix, changes with the labels that .github/labeler.yml gives for each.
All labels: autofirma, dnieremote, configuradorfnmt, modules, tools, truststore, tests, docs

ci: run update-fixed-output-derivations-lock after flake.lock is modified
  .github/workflows/update-fixed-output-derivations-lock.yml
  .github/workflows/update-flake-lock.yml
Labels: none

fix: remove python-updates pinning used for python-selenium
  flake.lock
  flake.nix
Labels: none

fix: abort if no CAs are found
  nix/tools/download-url-linked-CAs/download-url-linked-CAs.py
Labels: tools

ci(fix): use shell: bash where we may benefit from pipefail
  .github/workflows/docs.yml
  .github/workflows/update-autofirma-CAs-by-provider.yml
Labels: none

fix: delete branches of closed PRs from our ci
  .mergify.yml
Labels: none

doc: create CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

fix: upstream changes
  nix/autofirma/create-autofirma-cert
  nix/autofirma/default.nix
  nix/autofirma/hm-module.nix
  nix/autofirma/module.nix
  nix/autofirma/patches/clienteafirma/certutilpath.patch
  nix/autofirma/patches/clienteafirma/etc_config.patch
Labels: autofirma, modules

ci: update fod after flake.lock modifications
  .github/workflows/update-fixed-output-derivations-lock.yml
Labels: none

ci: update fod after flake.lock modifications
  .github/workflows/update-fixed-output-derivations-lock.yml
Labels: none

feat: expose autofirma configuration to HM module
  flake.nix
  nix/autofirma/default.nix
  nix/autofirma/hm-module.nix
  nix/autofirma/patches/clienteafirma/xmldoclet.patch
  nix/tools/properties-to-json/default.nix
  nix/tools/properties-to-json/properties-to-json.py
Labels: autofirma, modules, tools

update: maven dependencies (added javadoc and xml-doclet)
  fixed-output-derivations.lock
Labels: none

fix: remove unnecessary steps
  nix/autofirma/default.nix
Labels: autofirma

test: autofirma home-manager config setting "omitAskOnClose"
  flake.nix
  nix/tests/hm-as-nixos-module/autofirma/config/omitAskOnClose.nix
  nix/tests/hm-standalone/autofirma/config/omitAskOnClose.nix
Labels: autofirma, tests

refactor: replace pom patch with a pom-tool script
  nix/autofirma/default.nix
  nix/autofirma/patches/clienteafirma/xmldoclet.patch
  nix/tools/pom-tools/default.nix
  nix/tools/pom-tools/lib/add-xml-doclet-to-javadoc-plugin.py
  nix/tools/pom-tools/lib/update-plugin-version-by-groupId.sh
Labels: autofirma, tools

feat: expose AutoFirma configuration via HM module (#67)
  fixed-output-derivations.lock
  flake.nix
  nix/autofirma/default.nix
  nix/autofirma/hm-module.nix
  nix/tests/hm-as-nixos-module/autofirma/config/omitAskOnClose.nix
  nix/tests/hm-standalone/autofirma/config/omitAskOnClose.nix
  nix/tools/pom-tools/default.nix
  nix/tools/pom-tools/lib/add-xml-doclet-to-javadoc-plugin.py
  nix/tools/pom-tools/lib/update-plugin-version-by-groupId.sh
  nix/tools/properties-to-json/default.nix
  nix/tools/properties-to-json/properties-to-json.py
Labels: autofirma, modules, tools, tests

fix: remove detect_java_version.patch. Fixed upstream.
  nix/autofirma/default.nix
  nix/autofirma/patches/clienteafirma/detect_java_version.patch
Labels: autofirma

feat: track develop branch
  flake.lock
  flake.nix
Labels: none

update: clienteafirma dependencies
  fixed-output-derivations.lock
Labels: none

fix: preferences.properties was moved in upstream to another module
  nix/autofirma/default.nix
Labels: autofirma

fix: preferences.properties was moved in upstream to another module
  nix/autofirma/default.nix
Labels: autofirma

fix: reapply changes from #130 and #144. Mostly fixes for upstream changes
  README.md
  docs/src/introduction.md
  docs/src/security.md
  docs/src/troubleshooting.md
  flake.nix
  nix/autofirma/create-autofirma-cert
  nix/autofirma/default.nix
  nix/autofirma/hm-module.nix
  nix/autofirma/module.nix
  nix/autofirma/patches/clienteafirma/certutilpath.patch
  nix/autofirma/patches/clienteafirma/etc_config.patch
Labels: autofirma, modules, docs

update: flake & fop
  fixed-output-derivations.lock
  flake.lock
Labels: none

test: unit test autofirma-truststore. Closes #110
  flake.lock
  flake.nix
  nix/tests/unit/default.nix
Labels: tests

fix: remove unused binding
  nix/autofirma/hm-module.nix
Labels: autofirma, modules

wip: librewolf integration
  flake.nix
  nix/autofirma/default.nix
  nix/autofirma/hm-module.nix
  nix/tests/hm-as-nixos-module/autofirma/librewolfIntegration/connection-method/build-connection-method-test.nix
  nix/tests/hm-as-nixos-module/autofirma/librewolfIntegration/connection-method/websocket/default.nix
  nix/tests/hm-as-nixos-module/autofirma/librewolfIntegration/connection-method/websocket/test.js
  nix/tests/hm-as-nixos-module/autofirma/librewolfIntegration/protocol-handler/default.nix
Labels: autofirma, modules, tests

fix: add needed inputs to run nix-unit as a flake check.
  flake.lock
  flake.nix
Labels: none

test: unit test autofirma-truststore. Closes #110 (#123)
  flake.lock
  flake.nix
  nix/tests/unit/default.nix
Labels: tests

fix(test): AutoFirma window was renamed to Autofirma
  nix/tests/hm-as-nixos-module/autofirma/config/omitAskOnClose.nix
  nix/tests/hm-standalone/autofirma/config/omitAskOnClose.nix
Labels: autofirma, tests

doc: Autofirma rename
  nix/tests/hm-as-nixos-module/autofirma/cli/sign-document.nix
  nix/tests/hm-as-nixos-module/autofirma/firefoxIntegration/protocol-handler/default.nix
  nix/tests/hm-standalone/autofirma/cli/sign-document.nix
  nix/tests/hm-standalone/autofirma/firefoxIntegration/protocol-handler/default.nix
  nix/tests/nixos/autofirma/cli/sign-document.nix
  nix/tests/nixos/autofirma/firefoxIntegration/protocol-handler/default.nix
  nix/tests/overlay/default.nix
Labels: autofirma, tests

docs: improve documentation structure and introduce templates
  README.md
  docs/src/SUMMARY.md
  docs/src/installation.md
  docs/src/installation_home_manager_module.md
  docs/src/installation_home_manager_standalone.md
  docs/src/installation_nixos_module.md
  flake.nix
  templates/README.md
  templates/home-manager-nixos/flake.nix
  templates/home-manager-standalone/flake.nix
  templates/nixos-module/flake.nix
Labels: docs

fix: unneded packages and missing pkgs binding
  templates/home-manager-nixos/flake.nix
  templates/home-manager-standalone/flake.nix
  templates/nixos-module/flake.nix
Labels: none

fix: hm standalone flake template
  templates/home-manager-standalone/flake.nix
Labels: none

docs: improve documentation structure and introduce templates (#195)
  README.md
  docs/src/SUMMARY.md
  docs/src/installation.md
  docs/src/installation_home_manager_module.md
  docs/src/installation_home_manager_standalone.md
  docs/src/installation_nixos_module.md
  flake.nix
  templates/README.md
  templates/home-manager-nixos/flake.nix
  templates/home-manager-standalone/flake.nix
  templates/nixos-module/flake.nix
Labels: docs

docs: remove details from examples that are in the templates
  docs/src/installation_home_manager_module.md
  docs/src/installation_home_manager_standalone.md
  docs/src/installation_nixos_module.md
Labels: docs

docs: reintroduce all the tools in the examples
  docs/src/installation_home_manager_module.md
  docs/src/installation_home_manager_standalone.md
  docs/src/installation_nixos_module.md
Labels: docs

docs: remove unnecessary options
  docs/src/installation_home_manager_module.md
Labels: docs

fix: remove detect_java_version.patch. Fixed upstream.
  nix/autofirma/default.nix
  nix/autofirma/patches/clienteafirma/detect_java_version.patch
Labels: autofirma

fix: preferences.properties was moved in upstream to another module
  nix/autofirma/default.nix
Labels: autofirma

fix(test): AutoFirma window was renamed to Autofirma
  nix/tests/hm-as-nixos-module/autofirma/config/omitAskOnClose.nix
  nix/tests/hm-standalone/autofirma/config/omitAskOnClose.nix
Labels: autofirma, tests

doc: Autofirma rename
  nix/tests/hm-as-nixos-module/autofirma/cli/sign-document.nix
  nix/tests/hm-as-nixos-module/autofirma/firefoxIntegration/protocol-handler/default.nix
  nix/tests/hm-standalone/autofirma/cli/sign-document.nix
  nix/tests/hm-standalone/autofirma/firefoxIntegration/protocol-handler/default.nix
  nix/tests/nixos/autofirma/cli/sign-document.nix
  nix/tests/nixos/autofirma/firefoxIntegration/protocol-handler/default.nix
  nix/tests/overlay/default.nix
Labels: autofirma, tests

.github/labeler.yml:

"autofirma":
- changed-files:
  - any-glob-to-any-file:
    - nix/autofirma/**/*                # All files under nix/autofirma
    - nix/tests/**/autofirma/**/*       # Autofirma-related tests

"dnieremote":
- changed-files:
  - any-glob-to-any-file:
    - nix/dnieremote/**/*              # All files under nix/dnieremote
    - nix/tests/**/dnieremote/**/*     # DNIeRemote-related tests

"configuradorfnmt":
- changed-files:
  - any-glob-to-any-file:
    - nix/configuradorfnmt/**/*        # All files under nix/configuradorfnmt
    - nix/tests/**/configuradorfnmt/**/*

"modules":
- changed-files:
  - any-glob-to-any-file:
    - nix/**/module.nix                # Generic module definitions
    - nix/**/hm-module.nix             # Home Manager module definitions

"tools":
- changed-files:
  - any-glob-to-any-file:
    - nix/tools/**/*                   # Generic tools (update scripts, etc.)

"truststore":
- changed-files:
  - any-glob-to-any-file:
    - nix/autofirma/truststore/**/*           
    - nix/tests/_common/pkgs/test_certs.nix
    - nix/tests/_common/tests/autofirma_test_server/**/*

"tests":
- changed-files:
  - any-glob-to-any-file:
    - nix/tests/**/*                   # Capture any test changes

"docs":
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*                        # Documentation files
    - README.md
