Repository nix-community/autofirma-nix, changes with the labels that .github/labeler.yml gives for each.
All labels: autofirma, dnieremote, configuradorfnmt, modules, tools, truststore, tests, docs

.github/labeler.yml:

"autofirma":
- changed-files:
  - any-glob-to-any-file:
    - nix/autofirma/**/*                # All files under nix/autofirma
    - nix/tests/**/autofirma/**/*       # Autofirma-related tests

"dnieremote":
- changed-files:
  - any-glob-to-any-file:
    - nix/dnieremote/**/*              # All files under nix/dnieremote
    - nix/tests/**/dnieremote/**/*     # DNIeRemote-related tests

"configuradorfnmt":
- changed-files:
  - any-glob-to-any-file:
    - nix/configuradorfnmt/**/*        # All files under nix/configuradorfnmt
    - nix/tests/**/configuradorfnmt/**/*

"modules":
- changed-files:
  - any-glob-to-any-file:
    - nix/**/module.nix                # Generic module definitions
    - nix/**/hm-module.nix             # Home Manager module definitions

"tools":
- changed-files:
  - any-glob-to-any-file:
    - nix/tools/**/*                   # Generic tools (update scripts, etc.)

"truststore":
- changed-files:
  - any-glob-to-any-file:
    - nix/autofirma/truststore/**/*           
    - nix/tests/_common/pkgs/test_certs.nix
    - nix/tests/_common/tests/autofirma_test_server/**/*

"tests":
- changed-files:
  - any-glob-to-any-file:
    - nix/tests/**/*                   # Capture any test changes

"docs":
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*                        # Documentation files
    - README.md

ci: add labeler workflow
  .github/workflows/labeler.yml
Labels: none

Update urlwatch
  .github/urlwatch/urlwatch.yml
Labels: none

Update urlwatch.yml
  .github/urlwatch/urlwatch.yml
Labels: none

Update workflows
  .github/workflows/urlwatch.yml
Labels: none

Update urlwatch.yml
  .github/urlwatch/urlwatch.yml
Labels: none

Update urlwatch.yml
  .github/workflows/urlwatch.yml
Labels: none

Update urlwatch.yml
  .github/workflows/urlwatch.yml
Labels: none

Update urlwatch.yml
  .github/workflows/urlwatch.yml
Labels: none

feat: monitor upstream releases pages (#102)
  .github/urlwatch/urls.yml
  .github/urlwatch/urlwatch.yml
  .github/workflows/urlwatch.yml
Labels: none

fixup! feat: monitor upstream releases pages (#102)
  .github/urlwatch/urls.yaml
  .github/urlwatch/urlwatch.yaml
Labels: none

fixup! feat: monitor upstream releases pages (#102)
  .github/workflows/urlwatch.yml
Labels: none

fixup! feat: monitor upstream releases pages (#102)
  .github/workflows/urlwatch.yml
Labels: none

fixup! feat: monitor upstream releases pages (#102)
  .github/workflows/urlwatch.yml
Labels: none

fixup! feat: monitor upstream releases pages (#102)
  .github/workflows/urlwatch.yml
Labels: none

chore(ci): bump and lock versions of actions
  .github/workflows/urlwatch.yml
Labels: none

refactor(ci): simplify urlwatch run
  .github/workflows/urlwatch.yml
Labels: none

refactor(ci): leverage bash internal test
  .github/workflows/urlwatch.yml
Labels: none

feat: flake overlay
  flake.nix
  nix/tests/overlay/default.nix
Labels: tests

feat: flake overlay (#107)
  flake.nix
  nix/tests/overlay/default.nix
Labels: tests

feat: aarch64-linux support for AutoFirma
  flake.nix
Labels: none

fix: remove detect_java_version.patch. Fixed upstream.
  nix/autofirma/default.nix
  nix/autofirma/patches/clienteafirma/detect_java_version.patch
Labels: autofirma

update: clienteafirma dependencies
  fixed-output-derivations.lock
Labels: none

feat: track develop branch
  flake.lock
  flake.nix
Labels: none

ci: update locks in develop brach also
  .github/workflows/update-fixed-output-derivations-lock.yml
  .github/workflows/update-flake-lock.yml
Labels: none

fix: allow autofirma to load aarch64 NSS
  nix/autofirma/default.nix
  nix/autofirma/patches/clienteafirma/aarch64_elf.patch
Labels: autofirma

doc: note about open PR against upstream
  nix/autofirma/default.nix
Labels: autofirma

feat: aarch64-linux support for AutoFirma (#108)
  flake.nix
  nix/autofirma/default.nix
  nix/autofirma/patches/clienteafirma/aarch64_elf.patch
Labels: autofirma

ci: monitor upstream repositories
  .github/workflows/monitor-upstream-repositories.yml
Labels: none

ci(refactor): replace custom urlwatch workflow with new action
  .github/urlwatch/urls.yaml
  .github/urlwatch/urlwatch.yaml
  .github/workflows/monitor-upstream-releases.yml
  .github/workflows/urlwatch.yml
Labels: none

ci(chore): pin releases for dependabot
  .github/workflows/monitor-upstream-releases.yml
  .github/workflows/monitor-upstream-repositories.yml
Labels: none

fix(test): allow more time between commands that share a db
  nix/tests/hm-as-nixos-module/autofirma/firefoxIntegration/connection-method/build-connection-method-test.nix
  nix/tests/hm-standalone/autofirma/firefoxIntegration/connection-method/build-connection-method-test.nix
  nix/tests/nixos/autofirma/firefoxIntegration/connection-method/build-connection-method-test.nix
Labels: autofirma, tests

update: maven dependencies (added javadoc and xml-doclet)
  fixed-output-derivations.lock
Labels: none

feat: expose autofirma configuration to HM module
  flake.nix
  nix/autofirma/default.nix
  nix/autofirma/hm-module.nix
  nix/autofirma/patches/clienteafirma/xmldoclet.patch
  nix/tools/properties-to-json/default.nix
  nix/tools/properties-to-json/properties-to-json.py
Labels: autofirma, modules, tools

test: unit test autofirma-truststore. Closes #110
  flake.lock
  flake.nix
  nix/tests/unit/default.nix
Labels: tests

feat: track develop branch
  flake.lock
  flake.nix
Labels: none

fix: remove detect_java_version.patch. Fixed upstream.
  nix/autofirma/default.nix
  nix/autofirma/patches/clienteafirma/detect_java_version.patch
Labels: autofirma

update: clienteafirma dependencies
  fixed-output-derivations.lock
Labels: none

fix: rename AutoFirma/Autofirma
  README.md
  docs/src/introduction.md
  docs/src/security.md
  docs/src/troubleshooting.md
  flake.nix
  nix/autofirma/default.nix
  nix/autofirma/hm-module.nix
  nix/autofirma/module.nix
  nix/autofirma/patches/clienteafirma/etc_config.patch
Labels: autofirma, modules, docs

treewide: rename AutoFirma -> Autofirma (#132)
  README.md
  docs/src/introduction.md
  docs/src/security.md
  docs/src/troubleshooting.md
  flake.nix
  nix/autofirma/default.nix
  nix/autofirma/hm-module.nix
  nix/autofirma/module.nix
  nix/autofirma/patches/clienteafirma/etc_config.patch
Labels: autofirma, modules, docs

ci: revisit workflow cron schedules
  .github/workflows/monitor-upstream-releases.yml
  .github/workflows/monitor-upstream-repositories.yml
  .github/workflows/stale.yml
  .github/workflows/update-autofirma-CAs-by-provider.yml
  .github/workflows/update-autofirma-trusted-providers.yml
  .github/workflows/update-fixed-output-derivations-lock.yml
  .github/workflows/update-flake-lock.yml
Labels: none
