Repository nix-community/autofirma-nix, changes with the labels that .github/labeler.yml gives for each.
All labels: autofirma, dnieremote, configuradorfnmt, modules, tools, truststore, tests, docs

.github/labeler.yml:

"autofirma":
- changed-files:
  - any-glob-to-any-file:
    - nix/autofirma/**/*                # All files under nix/autofirma
    - nix/tests/**/autofirma/**/*       # Autofirma-related tests

"dnieremote":
- changed-files:
  - any-glob-to-any-file:
    - nix/dnieremote/**/*              # All files under nix/dnieremote
    - nix/tests/**/dnieremote/**/*     # DNIeRemote-related tests

"configuradorfnmt":
- changed-files:
  - any-glob-to-any-file:
    - nix/configuradorfnmt/**/*        # All files under nix/configuradorfnmt
    - nix/tests/**/configuradorfnmt/**/*

"modules":
- changed-files:
  - any-glob-to-any-file:
    - nix/**/module.nix                # Generic module definitions
    - nix/**/hm-module.nix             # Home Manager module definitions

"tools":
- changed-files:
  - any-glob-to-any-file:
    - nix/tools/**/*                   # Generic tools (update scripts, etc.)

"truststore":
- changed-files:
  - any-glob-to-any-file:
    - nix/autofirma/truststore/**/*           
    - nix/tests/_common/pkgs/test_certs.nix
    - nix/tests/_common/tests/autofirma_test_server/**/*

"tests":
- changed-files:
  - any-glob-to-any-file:
    - nix/tests/**/*                   # Capture any test changes

"docs":
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*                        # Documentation files
    - README.md

feat: track develop branch
  flake.lock
  flake.nix
Labels: none

fix: reapply changes from #130 and #144. Mostly fixes for upstream changes
  README.md
  docs/src/introduction.md
  docs/src/security.md
  docs/src/troubleshooting.md
  flake.nix
  nix/autofirma/create-autofirma-cert
  nix/autofirma/default.nix
  nix/autofirma/hm-module.nix
  nix/autofirma/module.nix
  nix/autofirma/patches/clienteafirma/certutilpath.patch
  nix/autofirma/patches/clienteafirma/etc_config.patch
Labels: autofirma, modules, docs

fix: modules instead of imports for nixos modules
  docs/src/installation_home_manager_module.md
Labels: docs

update: xml-doclet to 2.0.3
  nix/autofirma/default.nix
Labels: autofirma

update: fop
  fixed-output-derivations.lock
Labels: none

feat: transform html option descriptions to markdown to fix rendering
  nix/tools/properties-to-json/default.nix
  nix/tools/properties-to-json/properties-to-json.py
Labels: tools
